.payment-hotel {
    margin: 20px auto;
    width: 1200px;
}

.payment-hotel-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.payment-hotel-left-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.payment-hotel-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.payment-hotel-hotel {
    display: flex;  
    gap: 15px;
    border-bottom: 1px solid #6a6868;
}

.payment-hotel-hotel img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 15px;
}

.payment-hotel-hotel-info h2 {
    font-size: 18px;
    margin: 0;
}

.payment-hotel-hotel-info p {
    font-size: 14px;
    margin: 5px 0;
    color: #555;
}

.payment-hotel-checkin {
    display: flex;
    margin-top: 16px;
    padding-top: 16px;
    border-radius: 5px;
}

.payment-hotel-checkin div {
    flex: 1;
}

.payment-hotel-checkin div strong {
    display: block;
    font-size: 16px;
}

.payment-hotel-room {
    margin-top: 16px;
}

.payment-hotel-room p {
    margin: 10px 0;
}

/* Chia cột cho chuyến bay và giá */
.payment-hotel-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, sans-serif;
}

.payment-hotel-box {
    background: white;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.payment-hotel-flight strong {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
    color: #000;
}

.payment-hotel-flight p {
    margin: 4px 0;
    font-size: 14px;
    color: #555;
}

.payment-hotel-flight-time {
    color: #000;
    font-weight: bold;
}

.payment-hotel-divider {
    border-top: 1px solid #b1acac;
    margin-top: 10px;
    padding-top: 8px;
}

#toggle-room-detail {
    color: #ff4d6d;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
}

#toggle-room-detail:hover {
    color: #f57c00 !important;
    text-decoration: underline;
    cursor: pointer;
}

.room-detail-box {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
}

.room-content {
    padding-left: 20px;
}

.room-content > h3 {
    padding-left: 0;
    margin-left: -20px;
}

.room-content li {
    padding-left: 25px;
}

.room-content ul {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}


.room-image-wrapper {
    position: relative;
    width: 435px;
    height: 114px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.image-content {
    position: relative;
    height: 100%;
    margin-top: 6px;
}

.room-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.discount-badge {
    top: 0;
    left: 0;
    color: #ffffff;
    width: 125px;
    display: flex;
    padding: 4px 10px;
    z-index: 2;
    position: absolute;
    font-size: 18px;
    background: #FF3366;
    align-items: center;
    font-family: BeVietnamPro-SemiBold;
    line-height: 21px;
    white-space: nowrap;
    border-radius: 8px 0;
    justify-content: center;
}

.room-include-box {
    background-color: #f5f5f5;
    padding: 10px;
    border-left: 4px solid #f5427b;
    margin-top: 15px;
    border-radius: 5px;
}

.room-note-box {
    margin-top: 10px;
}

.room-detail-box p {
    margin-bottom: 8px; 
}

.room-detail-box ul {
    padding-left: 18px; 
    margin-bottom: 10px; 
}

.room-detail-box li {
    margin-bottom: 5px; 
}

.payment-hotel-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    font-family: Arial, sans-serif;
}

/* payment-hotel-price */
.payment-hotel-price-title {
    margin-bottom: 10px;
    font-size: 18px;
}

.payment-hotel-price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.payment-hotel-price-label {
    font-size: 14px;
}

.payment-hotel-price-values {
    text-align: right;
}

.payment-hotel-price-discount {
    background: #FF3366;
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    margin-right: 5px;
}

.payment-hotel-price-original {
    text-decoration: line-through;
    font-size: 13px;
    color: #888;
}

.payment-hotel-price-final {
    font-weight: bold;
    font-size: 15px;
    margin-top: 2px;
}

.payment-hotel-price-line {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.payment-hotel-price-total {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15px;
}

.payment-hotel-price-total-left,
.payment-hotel-price-total-right {
    display: flex;
    flex-direction: column;
}

.payment-hotel-price-amount {
    font-size: 18px;
    font-weight: bold;
}

.payment-hotel-price-note {
    font-size: 12px;
    color: #555;
    margin-top: 2px;
}

.payment-hotel-total {
    font-weight: bold;
    font-size: 18px;
}

.payment-hotel-contact {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.payment-hotel-contact h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.payment-hotel-login {
    background: #e6f2ff;
    color: #00B6F3;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.payment-hotel-form input {
    width: calc(50% - 3px);
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 5px;
}

.payment-hotel-checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}

.payment-hotel-checkbox input {
    margin-right: 5px;
}

/* Ẩn thông tin khách nhận phòng ban đầu */
.payment-hotel-guest-info {
    display: none;
    margin-top: 15px;
    border-radius: 10px;
}

.payment-hotel-guest-info h3 {
    font-size: 15px;
    margin-bottom: 8px;
}

.payment-hotel-guest-info input {
    width: 100%;
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.payment-hotel-method {
    width: 100%;
    margin-top: 20px;
    padding: 25px;
}

.payment-hotel-method h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.payment-hotel-note {
    font-size: 14px;
    color: green;
    margin-bottom: 10px;
}

.payment-hotel-note span {
    font-weight: bold;
}

.payment-hotel-option {
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.payment-hotel-option input {
    margin-right: 8px;
}

.payment-hotel-button {
    width: 120px;
    background: #ff4081;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    float: right;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.payment-hotel-button:hover {
    background: #e03572;
}

.payment-hotel-terms {
    font-size: 12px;
    text-align: end;
    color: #ff4081;
    margin-top: 60px;
}

.payment-hotel-terms a {
    color: #ff4081;
    text-decoration: underline;
}
